<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Feedback</title>
</head>
<body>
    <h1>Data Feedback</h1>
    {{ message }}
    {% for batch in batches %}
        <h4>Input in: {{ batch.date }}</h4>
        <h5>Status: {{ batch.status }}</h5>
        {% if batch.status == "revision" %}
            <h5>Revision message: {{ batch.revision_message }}</h5>
        {% endif %}
        <table border="1">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Birthdate</th>
                    <th>Pregnant</th>
                    <th>Work</th>
                    <th>RT</th>
                    <th>RW</th>
                </tr>
            </thead>
            <tbody>
                {% for data in batch.batch_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.gender }}</td>
                        <td>{{ data.birth_date }}</td>
                        <td>{{ data.pregnant }}</td>
                        <td>{{ data.work }}</td>
                        <td>{{ data.rt }}</td>
                        <td>{{ data.rw }}</td>
                {% endfor %}
            </tbody>
        </table>

        {% if batch.status == 'revision' %}
            <button><a href="{% url 'database_revision_form' batch.id %}">Revise</a></button>
            {% else %}
            <button><a href="{% url 'database_revision_form' batch.id %}">Edit</a></button>
        {% endif %}
    {% endfor %}
    <button><a href="{% url 'database_home' %}">Data Page</a></button>
</body>
</html>