{% extends 'master/master_navbar.html' %}
{% load static %}
{% block title %}Tambah Data Penduduk{% endblock %}
{#{% block style_sheet %}{% static 'css/database_form.css' %}{% endblock %}#}
{% block page_title %}Tambah Data Penduduk{% endblock %}

{% block content %}
    <div class="container">
        <form class="form m3-3" id="mainForm" method="POST">
            {% csrf_token %}
            <div class="form-container" id="formsContainer"></div>
            <button class="btn btn-primary mt-3" type="button" onclick="addForm()">Tambah Formulir</button>
            <button class="btn btn-success mt-3" type="submit" id="submitButton">Kirim Data</button>
        </form>
    </div>

    <script>
        let formCount = 0;
        let formIds = [];

        function addForm() {
            formCount++;
            formIds.push(formCount);
            const formContainer = document.createElement('div');
            formContainer.className = 'form-container';
            formContainer.id = `form-${formCount}`;

            formContainer.innerHTML = `
                <h2>Form ${formCount}</h2>
                <div class="form-group">
                    <label class="form-label" for="name-${formCount}">Nama:</label>
                    <input class="form-control" type="text" id="name-${formCount}" name="name-${formCount}" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="gender-${formCount}">Jenis Kelamin:</label>
                    <select class="form-select" id="gender-${formCount}" name="gender-${formCount}" required onchange="togglePregnantField(${formCount})">
                        <option value="laki-laki">Laki-laki</option>
                        <option value="perempuan">Perempuan</option>
                    </select>
                </div>
                <div class="form-group" id="pregnant-group-${formCount}" style="display: none;">
                    <label class="form-label" for="pregnant-${formCount}">Sedang Hamil:</label>
                    <select class="form-select" id="pregnant-${formCount}" name="pregnant-${formCount}">
                        <option value="false">Tidak</option>
                        <option value="true">Iya</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="birthdate-${formCount}">Tanggal Lahir:</label>
                    <input class="form-control" type="date" id="birthdate-${formCount}" name="birthdate-${formCount}" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="work-${formCount}">Status Pekerjaan:</label>
                    <select class="form-select" id="work-${formCount}" name="work-${formCount}">
                        <option value="siswa/mahasiswa">Siswa/Mahasiswa</option>
                        <option value="bekerja">Bekerja</option>
                        <option value="tidak bekerja">Tidak Bekerja</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="rt-${formCount}">RT:</label>
                    <input class="form-control" type="number" id="rt-${formCount}" name="rt-${formCount}" readonly value="{{ rt }}">
                </div>
                <div class="form-group">
                    <label class="form-label" for="rw-${formCount}">RW:</label>
                    <input class="form-control" type="number" id="rw-${formCount}" name="rw-${formCount}" readonly value={{ rw }}>
                </div>
                <button class="btn btn-danger mt-3" type="button" onclick="deleteForm(${formCount})">Hapus Formulir</button>
            `;

            document.getElementById('formsContainer').appendChild(formContainer);
        }

        function deleteForm(formId) {
            const formToDelete = document.getElementById(`form-${formId}`);
            if (formToDelete) {
                formToDelete.remove();
                formIds = formIds.filter(id => id !== formId);
            }
        }

        function togglePregnantField(formId) {
            const genderSelect = document.getElementById(`gender-${formId}`);
            const pregnantGroup = document.getElementById(`pregnant-group-${formId}`);

            if (genderSelect && pregnantGroup) {
                if (genderSelect.value === 'perempuan') {
                    pregnantGroup.style.display = 'block';
                } else {
                    pregnantGroup.style.display = 'none';
                    const pregnantSelect = document.getElementById(`pregnant-${formId}`);
                    if (pregnantSelect) {
                        pregnantSelect.value = 'false';
                    }
                }
            }
        }

        document.getElementById('mainForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const formList = [];

            for (const formId of formIds) {
                const formElement = document.getElementById(`form-${formId}`);
                if (formElement) {
                    const formEntry = {
                        name: document.getElementById(`name-${formId}`).value,
                        gender: document.getElementById(`gender-${formId}`).value,
                        birthdate: document.getElementById(`birthdate-${formId}`).value,
                        rt: document.getElementById(`rt-${formId}`).value,
                        rw: document.getElementById(`rw-${formId}`).value,
                        work: document.getElementById(`work-${formId}`).value,
                        pregnant: document.getElementById(`gender-${formId}`).value === 'perempuan'
                            ? document.getElementById(`pregnant-${formId}`).value
                            : 'false'
                    };
                    formList.push(formEntry);
                }
            }

            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch('{% url "database_add_data" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(formList),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Success:', data.message);
                    window.location.href = data.redirect;
                } else {
                    console.error('Error:', data.error);
                    alert('An error occurred: ' + data.error);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('An error occurred while submitting the form. Please try again.');
            });
        });

        // Add the first form when the page loads
        addForm();

        // Ensure the submit button is clickable
        document.getElementById('submitButton').addEventListener('click', function(e) {
            console.log('Submit button clicked');
        });
    </script>
{% endblock %}