<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Approval</title>
</head>
<body>
    <h1>Data Approval</h1>
    {% for batch in batches %}
        <h4>Input in: {{ batch.date }}</h4>
        <h5>Input by: {{ batch.input_person }}</h5>
        <h5>RT: {{ batch.rt }}</h5>
        <h5>RW: {{ batch.rw }}</h5>
        <table border="1">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Pregnant</th>
                    <th>Work</th>
                </tr>
            </thead>
            <tbody>
                {% for data in batch.batch_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.gender }}</td>
                        <td>{{ data.age }}</td>
                        <td>{{ data.pregnant }}</td>
                        <td>{{ data.work }}</td>
                {% endfor %}
            </tbody>
        </table>
        <button><a href="{% url 'database_approve' batch.id %}">ACC</a></button>
        <form action="{% url 'database_revision' batch.id %}" method="post">
            {% csrf_token %}
            <label for="revision_message">Revision message:</label>
            <input type="text" id="revision_message" name="revision_message" required>
            <button type="submit">Revision</button>
        </form>
    {% endfor %}
    <button><a href="{% url 'database_home' %}">Data Page</a></button>
</body>
</html>