{% extends 'master/master_navbar.html' %}
{% block title %}ACC Data Penduduk{% endblock %}
{% block page_title %}ACC Data Penduduk{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            {% if message %}
                <div class="alert alert-danger text-center" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        </div>
        {% for batch in batches %}
            <div class="card mb-3">
                <div class="card-header">
                    <h3>Penginput data: {{ batch.input_person }}</h3>
                    <h4>Tanggal diiputkan: {{ batch.date }}</h4>
                    <h5>RT: {{ batch.rt }}</h5>
                    <h5>RW: {{ batch.rw }}</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Jenis Kelamin</th>
                                    <th scope="col">Umur</th>
                                    <th scope="col">Hamil</th>
                                    <th scope="col">Pekerjaan</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for data in batch.batch_data %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.gender }}</td>
                                    <td>{{ data.age }}</td>
                                    <td>{{ data.pregnant }}</td>
                                    <td>{{ data.work }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="row">
                        <form action="{% url 'database_revision' batch.id %}" method="post" class="form">
                            {% csrf_token %}
                            <label class="form-label" for="revision_message">Pesan Revisi:</label>
                            <input class="form-control" type="text" id="revision_message" name="revision_message" required placeholder="Pesan revisi">
                            <button class="btn btn-warning mt-2" type="submit">Revisi</button>
                        </form>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-success mt-2"><a class="nav-link" href="{% url 'database_approve' batch.id %}">Terima</a></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}