{% extends 'master/master_navbar.html' %}
{% block title %}ACC Informasi Desa{% endblock %}
{% block page_title %}ACC Informasi Desa{% endblock %}

{% block content %}
    <main class="main-content">
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}

        {% for info in informations %}
            <div class="card mb-3" style="width: 90%">
                <div class="card-header">
                    <h1>{{ info.info_name }}</h1>
                </div>
                <img src="data:image/jpeg;base64, {{ info.info_image|safe }}" alt="image" class="card-img-top">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="card-text fw-bold">Penulis: {{ info.info_maker }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="card-text fw-bold">Tanggal Dibuat: {{ info.info_created_date }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="card-text fw-bold">Deskripsi:</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p class="card-text">{{ info.info_description }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <form action="{% url 'revise_info' info.id request.user.id %}" method="post">
                                {% csrf_token %}
                                <label class="form-label" for="revision_message">Pesan revisi:</label>
                                <input type="text" class="form-control" name="revision_message" id="revision_message" placeholder="Pesan revisi" required>
                                <button class="btn btn-warning mt-2" type="submit">Revisi</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <form action="{% url 'reject_info' info.id request.user.id %}" method="post">
                                {% csrf_token %}
                                <label class="form-label" for="reject_message">Pesan penolakan:</label>
                                <input type="text" class="form-control" name="reject_message" id="reject_message" placeholder="Pesan penolakan" required>
                                <button class="btn btn-danger mt-2" type="submit">Tolak</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col text-center">
                            <a href="{% url 'acc_info' info.id request.user.id %}" class="btn btn-success">Izinkan</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}