{% extends 'master/master_navbar.html' %}
{% block title %}Revisi Informasi{% endblock %}
{% block page_title %}Revisi: {{ informations.info_name }}{% endblock %}

{% block content %}
    <main class="main-content">
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}
        <div class="container">
            <form action="{% url 'revision_info_do' informations.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nama/Judul Informasi</label>
                    <input type="text" name="info_name" class="form-control" id="exampleFormControlInput1" placeholder="Masukkan judul" value="{{ informations.info_name }}" required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Deskripsi Informasi</label>
                    <textarea name="info_description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Masukkan deskripsi" required>{{ informations.info_description }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Gambar Informasi</label>
                    <input class="form-control" type="file" id="formFile" name="info_image" accept="image/*" required>
                </div>
                <button type="submit" class="btn d-flex btn-primary w-100 justify-content-center text-center">Submit</button>
            </form>
        </div>
    </main>
{% endblock %}