<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACC Information</title>
</head>
<body>
    <ul>
        {% for info in informations %}
            <li>{{ info.info_name }}</li>
            <li>{{ info.info_description }}</li>
            {% if info.info_image %}
                    <img src="data:image/jpeg;base64,{{ info.info_image|safe }}" alt="image">
                {% endif %}
            <li>{{ info.info_created_date }}</li>
            <li>
                maker: {{ info.info_maker }}
                <button><a href="{% url 'acc_info' info.id request.user.id %}">Accept</a> </button>
                <form action="{% url 'reject_info' info.id request.user.id %}" method="post">
                    {% csrf_token %}
                    <label for="reject_message">Message of Rejection</label>
                    <input type="text" name="reject_message" id="reject_message" placeholder="Message of Rejection">
                    <button type="submit">Reject</button>
                </form>
            
                <form action="{% url 'revise_info' info.id request.user.id %}" method="post">
                    {% csrf_token %}
                    <label for="revision_message">Message of Revision</label>
                    <input type="text" name="revision_message" id="revision_message" placeholder="Message of Revision">
                    <button type="submit">Revise</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <button><a href="{% url 'home' %}">Home</a></button>
</body>
</html>