{% extends 'master/master_navbar.html' %}
{% block title %}Informasi Desa{% endblock %}
{% block page_title %}Informasi Desa{% endblock %}

{% block content %}
    <main class="main-content">
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}

        {% for info in informations %}
            <div class="card">
                <img src="data:image/jpeg;base64, {{ info.info_image|safe }}" alt="image">
                <div class="card-content">
                    <h2 class="card-title">{{ info.name }}</h2>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
