{% extends 'master/master_navbar.html' %}
{% load static %}
{% block title %}Informasi Desa{% endblock %}
{% block page_title %}Informasi Desa{% endblock %}
{% block style_sheet %}{% static 'css/home.css' %}{% endblock %}

{% block content %}
    <main class="main-content">
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}

        {% for info in informations %}
            <div class="card" style="width: 90%">
                <div class="card-header">
                    <h1>{{ info.info_name }}</h1>
                </div>
                <img src="data:image/jpeg;base64, {{ info.info_image|safe }}" alt="image" class="card-img-top">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="card-text">Penulis: {{ info.maker }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="card-text">Tanggal Dibuat: {{ info.info_created_date }}</p>
                        </div>
                    </div>
                    <hr>
                   <div class="row">
                        <div class="col text-center">
                            <a href="{% url 'detail_info' info.id %}" class="btn btn-primary">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
