{% extends 'master/master_navbar.html' %}

{% load static %}

{% block title %}Kegiatan Desa{% endblock %}
{% block style_sheet %}{% static 'css/event.css' %}{% endblock %}
{% block page_title %}Kegiatan Desa{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center">
        {% if message %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
    </div>
    <main class="main-content">
        {% for event in events %}
            <div class="card pb-0">
                <div class="card-content">
                    <h2 class="card-title">{{ event.event_name }}</h2>
                    <p class="card-description">{{ event.event_description }}</p>
                    <div class="penyelenggara">
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bxi bi-send" viewBox="0 0 16 16">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                          </svg> {{ event.event_maker }}
                        </p>
                        <p>Untuk: <span class="untuk">{{ event.event_target }}</span></p>
                    </div>
                        <div class="details">
                            <div class="location">{{ event.event_location }}</div>
                            <div class="jam">{{ event.event_time }}</div>
                            <div class="date">{{ event.event_date }}</div>
                        </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
