<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Feedback</title>
</head>
<body>
    {{ message }}
    {% for event in events %}
        <li>
            event name: {{ event.event_name }}
            event message: {{ event.event_message }}
            status: {{ event.status }}
            {% if event.status == 'revision' %}
                <button><a href="{% url 'event_revision_form' event.id %}">Revision</a></button>
                <button><a href="{% url 'event_delete' event.id %}">Delete</a></button>
            
            {% else %}
                <button><a href="{% url 'event_delete' event.id %}">Delete</a></button>
            {% endif %}
        </li>
    {% endfor %}
    <button><a href="{% url 'event_page' request.user.id %}">Home</a></button>
</body>
</html>